<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">Experience & Education</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July'16 - Present</h4>
                                    <h4 class="subheading">Samsung R&D institue, Delhi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Designation: Lead Engineer</p>
                                    <p class="text-muted">Creating an automated intelligent assistant to help the customers get faster and more accurate responses to their queries related to Samsung devices.</p>
				                            <p class="text-muted">Created a python based spell corrector for Samsung chatbot. It analyses the user’s query, corrects the mis-spelled words and overtime trains itself too to give a better and accurate response to the queries.</p>
                                </div>
                            </div>
                        </li>
                            <li>
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>July'16 - Present</h4>
                                        <h4 class="subheading">Samsung R&D institue, Delhi</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Designation: Engineer</p>
                                        <ul>
                                          Worked on an AI based Conversational Agent designed to help the customers with their queries related to Samsung products.
                                          <li>Contributed towards a <b>Log-Analytics Dashboard</b> development to gain insight into the conversation flows and enhance the chatbot’s effectiveness.</li>
                                          <li>Worked on extracting <b>Key Phrases</b> from user utterances for automated evaluation of the intent classifier.</li>
                                          <li>Created a <b>Spell Corrector</b> for correcting misspelled words in user queries while taking context into consideration.</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January'16 - June'16</h4>
                                    <h4 class="subheading">BlackRock</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Intern, Analyst</p>
									<p class="text-muted">Created a java based dynamic automated system using headless browser. It ensures an efficient running of the countless scripts to be run everyday by generating faster and smoother responses.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July'12 - July'16</h4>
                                    <h4 class="subheading">Manipal Institute of Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor of Technology</p>
                                    <p class="text-muted">Computer Science</p>
                                    <p class="text-muted">CGPA: 8.45</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010 - 2012</h4>
                                    <h4 class="subheading">St. Joseph's School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Senior Secondary(XII)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Before 2012</h4>
                                    <h4 class="subheading">St. Joseph's School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Metric (X)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Start of
                                    <br>My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
